<h2>Are you a boy or a girl?</h2>

<form action="/trainers" method="post">
  <label for="">Name</label>
  <input type="text" name="trainer[name]">

  <label for="">Level</label>
  <input type="text" name="trainer[level]">

  <label for="">Image url</label>
  <input type="text" name=trainer[img_url]>

  <button type="submit">Submit</button>
</form>
